.Messages,
.class-avatar {
  display: flex;
  align-items: center;
}

.Messages {
  justify-content: space-between;
  border-bottom: solid #343842 3px;
  margin: 0;
  padding: 25px 0;
  width: 100%;
}

.Messages .chat-avatar {
  height: 65px;
}

.Messages .green-circle {
  height: 15px;
  width: 15px;
  background-color: green;
  border: solid black 1px;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}

.Messages .blank-space {
  height: 15px;
  width: 15px;
}

.Messages:first-child {
  border: none;
}

.Messages .message {
  white-space: pre-wrap;
  width: 400px;
  overflow-wrap: break-word;
}

.Messages .current-time {
  margin: 0 10px 0 0;
}
